<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/signup.css' %}">
    <title>Signup</title>
</head>
<body>

    <div class="login-box">
  
      <h3>Sign Up</h3>
      <form action="submit1" method="post">{% csrf_token %}
        <p>Username</p>
        <input type="text" name="un" placeholder="Enter your username...">
        <p>Email</p>
        <input type="email" name="email1" placeholder="Enter your Email...">
        <p>Password</p>
        <input type="password" name="pass" placeholder="Enter your password...">
        <a>Forgot your password?</a>
        <input type="submit" name="" value="Sign up"><p>Already User?<a href="/login"><strong>Log in</strong></a> </p>
        
        
      </form>
    </div>
  </body>

  </html>